body {
    font-family: 'Noto Sans HK', sans-serif;
}

.fa-umbrella-beach {
    color: #8BE03C;
}

.navbar {
    background-color: #536EE0;
}

h1 {
    color: white;
}

.side-line {
    background-color: #E05226;
}