body {
    font-family: 'Noto Sans HK', sans-serif;
}

.fa-umbrella-beach {
    color: #8BE03C;
}

.navbar {
    background-color: #536EE0;
}

.header {
    color: white;
}

.sidebar {
    height: 100%;
}